.select_box {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #ddd;
    height: 25px;
    color: #333;
}

.select_box:after {
    font-family: 'entypo';
    content: '\e764';
    font-size: 12px;
    position: absolute;
    top: 50%;
    right: 8px;
    color: #0c0c0c;
    pointer-events: none;
    margin-top: -5px;
}

.search_wrap .select_item {
    height: 28px;
    float: left;
}

.middle_wrap .select_box:after {
    top: 70% !important;
}