
 /*datepicker*/
 .react-datepicker-popper {
    z-index: 100 !important;
}
.react-datepicker {
    /* border: 1px solid #bbb !important; */
}
.react-datepicker__month--selected, .react-datepicker__month--in-selecting-range, .react-datepicker__month--in-range {
    padding: 3px;
}
.react-datepicker__month .react-datepicker__month-text {
    padding: 3px;
}

.day_select img {
    width: auto;
    padding-top: 2px;
    vertical-align: top;
}

.day_select {
    border: 1px solid #ddd;
    border-left: none;
    padding: 4px;
    margin-top: 0;
    border-radius: 0;
    background: linear-gradient(to bottom, #fdfdfd, #f7f7f7,#eee);
    height: 25px;
}

.simple_lb {
    width: 10px !important;
    text-align: center !important;
    padding: 0 !important;
}
