

.cell_align_center {
    text-align: center;
}

.cell_align_right {
    text-align: right;
}

.cell_readonly {
    background-color:  #e7eaed;
}

.prodShift_10 {
    color: orange !important;
}
.prodShift_20 {
    color: blueviolet !important;
}
.prodShift_30 {
    color: green !important;
}

.highlight_red {
    color: red !important;
    font-weight: 500;
}

.highlight_background {
    color: white !important;
    background-color: blueviolet;
    font-weight: 500;
}

.highlight_red_background {
    background: orange !important;
    font-weight: 600;
}
