
.pop_panel{
    position: relative;
    /* border: 2px solid #46b1d8; */
    z-index: 9999;
    box-shadow: 1px 1px 13px rgba(0,0,0,0.1);
    border-radius: 15px 15px 15px 15px
}

.pop_panel_head{
    border-radius: 0;
    padding: 7px 15px;
    position: relative;
    background: #1b9ace;
}

.pop_panel_tit{
    font-size: 15px;
    display: inline-block;
    color: #ffffff;
    font-weight: 900;
    cursor: default;
} 

.pop_panel_body {
    clear: both;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    letter-spacing: 0px;
    height: 100%;
}

.pop_close {
    cursor: pointer;
    margin-top: 2px;
    float: right;
    width: 16px;
    height: 16px;
}

.wrap_pop_up {
    width: 100%;
    height: 100%;
}

.pop_panel_body th {
    text-align: right;
    padding: 10px;
}

.pop_panel_body>div {
    /* 팝업에서 화면크기 계산이 이거 때문에 빗나가서 스크롤이 생깁니다.. */
    /* margin: 10px 35px 0 0; */
    /* margin: 7px 5px 0 0; */
    /* width: 300px; */
}
/* 
.pop_panel_body .button_item input {
    margin-right: 3px;
} */

.pop_panel_body .button_item .btn_blue{
    margin-top:7px;
    margin-left: 3px;
}
.pop_panel_body .search_item_btn .button_item .btn_blue
, .pop_panel_body .middle_wrap .button_item .btn_blue
{margin-top:0px;}

.pop_panel_body .btn_wrap li {
    margin-left:0px;
}
.pop_panel_body .search_item_btn {
    right: 0px;
}

.modal_body {
    min-width: 10px;
    min-height: 10px;
    overflow: auto;
    clear: both;
    position: relative;
}

.pop_panel_body table {
    border-collapse: collapse;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: 2px solid #c5c5c5;
}

.pop_panel_body table div{
    /* display:inline */
}

.numeric_input_item {
    display: inline;
    vertical-align: top;
}


.pop_panel_body table tr{ 
    border-bottom: 1px solid #ddd;
}

.pop_panel_body table th,
.pop_panel_body table .th  {
    font-weight: bold;
    text-align: right;
    padding: 10px;
    border-right: 1px solid #ddd;
    background: #f5f5f5;
}

.th .no_padding {
    padding: 0px;
}

.pop_panel_body table td{ 
    border-right: 1px solid #ddd; 
    padding-left:10px;
}

.pop_panel_body table .select_box{
    display: inline-block; }

.pop_panel_body .day_select {
    display: block;
}

.pop_panel_body table td:first-child, .pop_panel_body table td:nth-child( 2n-1 ){
    border-right: 1px solid #ddd;
    background: #f5f5f5;
}

.pop_panel_body table td:last-child{ 
    border-right: none;
}

.pop_panel_body .search_wrap {
    /* padding: 2px 3px 8px; */
    /* margin: 0px 10px; */
    border-top: 2px solid #c5c5c5;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: linear-gradient(to bottom, #ffffff, #fcfdfd,#fafafa);
}
.pop_panel_body .middle_wrap {
    padding: 5px 0px;
    overflow: hidden;
    background: #fff;
    line-height: 0px;
    min-height: 31px;
}

.pop_panel_body .sub_tit {
    font-size: 14px;
    font-weight: 900;
    float: left;
    letter-spacing: -1px;
    padding-top: 6px;
    cursor: default;
    margin-bottom: 3px;
}

.pop_panel_body .nonStyle .search_wrap{
    border:0; padding:0; margin-bottom:8px;
    }

.pop_panel_body select { 
    background: #fff; 
}

/* .pop_panel_body  .middle_wrap { 
    padding: 0px;
    overflow: hidden;
    background: #fff;
    line-height: 0px;
    height: 31px;
} */

.pop_panel_body .basic .contents_wrap {padding:0 !important;}
.pop_panel_body .contents_wrap {padding:0 !important;}

.pop_tab_wrap {
    margin: 8px 0 5px 10px;
}

.pop_tab_menu {
           overflow: hidden;
}

.pop_tab_menu_list {
           padding-left: 0px;
           position: relative;
           display: inline-block;
           margin: 0px;
           list-style: none;
           transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
.pop_tab_menu_list_li[aria-selected="true"] {
           border: 1px solid #1b9ace;
           background: #2da6d8;
           color: white;
           /* line-height: 15px; */
}
.pop_tab_menu_list_li {
            padding: 4px 8px 4px 5px;
           /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); */
           margin-right: 3px;
           background-color: white;
           border: 1px solid #6a96a8;
           color: #166484;
           font-weight: bold;
               float: left;
}

.pop_tab_menu_list_li[aria-selected="true"] .tab_btn {
           color: #fff;
}


.pop_tab_menu_list .tab_text {
           vertical-align: middle;
}

.pop_tab_menu_list .tab_btn {
           display: inline-block;
           color: #777;
           margin-left: 5px;
           /* padding: 2px; */
           vertical-align: middle;
           border: 0;
           outline: 0;
           background: transparent;
           margin-left: 2px;
           margin-right: 2px;
           float: left;
           width: 15px;
           padding: 0; 
          font-size:16px;
}
button {
           -webkit-appearance: button;
           -webkit-writing-mode: horizontal-tb !important;
           text-rendering: auto;
           color: buttontext;
           letter-spacing: normal;
           word-spacing: normal;
           text-transform: none;
           text-indent: 0px;
           text-shadow: none;
           display: inline-block;
           text-align: center;
           align-items: flex-start;
           cursor: default;
           background-color: buttonface;
           box-sizing: border-box;
           margin: 0em;
           font: 400 13.3333px Arial;
           padding: 1px 6px;
           border-width: 2px;
           border-style: outset;
           border-color: buttonface;
           border-image: initial;
}

.pop_tab_menu_list .tab_btn > svg {
           vertical-align: middle;
}

