.pt5 {
    padding-top:6px;
}

.input_box {
    /* font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #777;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 0;
    font-family: "Noto Sans KR", sans-serif;
    padding-right: 5px;
    margin-top: 0;
    height: 25px;
    margin-right:2px; */
    padding: 3px 9px 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    /* border-color: #cccccc; */
    border-radius: 1px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-family: "Noto Sans KR", sans-serif;
    padding-right: 5px;
    /* margin-top: 1px; */
    height: 25px;
}

.input_box.text {
    padding-left: 7px;
    text-align: left;
    width: 170px;
}

input[type=search].search_box {
    padding: 4px;
    border: 1px solid #ddd;
    font-size: 12px;
    height: 23px;
}

.search_wrap .input_item {
    height: 28px;
    float: left;
}

tr .helper .input_item {
    display: inline;
}

.textarea {
    margin-bottom: 5px;
    margin-top: 10px;
    white-space: pre-line;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #ddd;
    /* border-color: #cccccc; */
    border-radius: 1px;
}