@charset "utf-8";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size:12px;
    font-family: 'Roboto',/*'Noto Sans KR',*/"Nanum Gothic", sans-serif;
    color:#333;
    background-color:#fff;
    letter-spacing: -0.4px;
    scrollbar-arrow-color: #666;
    scrollbar-Track-Color: #fff; 
    scrollbar-base-color: #fff;
    scrollbar-Face-Color: #e9e9e9;
    scrollbar-3dLight-Color: #fff; 
    scrollbar-DarkShadow-Color: #e9e9e9;
    scrollbar-Highlight-Color: #f2f2f2;
    scrollbar-Shadow-Color: #e9e9e9;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,abbr,address,cite,code,del,dfn,em,img,
ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,
menu,nav,section,summary,time,mark,audio,video{
	margin:0; padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none}
li { list-style-type:none; }
table{border-collapse:collapse;border-spacing:0;}
img{max-width:100%;height:auto;}
mark{background:none}
select{max-width:100%;  padding:0px 0px;}
caption, legend {display:none;}
hr{display:none;}
h1,h2,h3,h4,h5,h6 { font-size:100%; }
address,strong{font-style:normal; font-weight:normal;}
table {border-collapse:collapse; }


/* LINK */
A:link{text-decoration:none}
A:visited{text-decoration:none}
A:active{text-decoration:none}
A:hover{text-decoration:none}

iframe {
	border:none;
}

article, aside, canvas, details, figcaption, figure, footer,header,hgroup,menu,nav,section,summary {
	display:block;
}


:focus {
outline: 0;
}
input, select {
    box-shadow: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}


/*common*/

.w60 {
    width: 60px;
}
.w70 {
    width: 70px;
}
.w80 {
    width: 80px;
}
.w90 {
    width: 90px;
}

.w100 {
    width: 100px;
}

.w200 {
    width: 200px;
}

.w250 {
    width: 250px;
}

.mr_20 {
    margin-right: 20px;
}

.mr_50 {
    margin-right: 50px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pd0 {
    padding: 0;
}

input[type="text"],
input[type="password"] {
    /* padding: 0px 1px 0px 1px; */
}

.input,
.input_text,
.input_label {
    border: 1px #d4d5d8 solid;
    height: 22px;
    padding: 0 2px;
    font-size: 12px;
}

select {
    /* width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 5px;
    cursor: pointer;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 1;
    box-shadow: none;
    border: 0;
    background-image: none;
    font-size: 12px;
    color: #666; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 5px;
    cursor: pointer;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 1;
    box-shadow: none;
    border: 0;
    background-image: none;
    font-size: 12px;
    color: #666;
    line-height: 23px;
}

/*라벨스타일*/
label.item_lb {
    float: left;
    padding: 2px 8px;
	font-weight: 600;
	line-height: 19px;
    text-align: right;
    display: inline-block;
    min-width: 15px;
}
/* 
label.item_lb {
    text-align: right;
    display: inline-block;
    min-width: 15px;
} */

/* th,td{border:1px solid red;} */

.readOnly {
    background-color: rgb(241, 237, 237) !important;
}